<li>
  <a href="http://instagram.com/edopatagonia" target="_blank" title="Check me out on Instagram" class="social-link">
    <i class="fa fa-instagram"></i>
  </a>
</li>
<li>
  <a href="http://twitter.com/edodonoso" target="_blank" title="Check me out on Twitter" class="social-link">
    <i class="fa fa-twitter"></i>
  </a>
</li>
<li>
  <a href="http://facebook.com/eduardodonoso31" target="_blank" title="Check me out on Facebook" class="social-link">
    <i class="fa fa-facebook"></i>
  </a>
</li>
