---
title: Eduardo Donoso | about
description: Learn more about me
layout: default
permalink: /about/
ref: about
---
<div class="full-hero hero-about">
  <h1>Eduardo Donoso</h1>
  <h2>Curriculum-vitae</h2>
  <div class="action-button"><a href="/images/jyoung_CV_2018.pdf">Download CV</a></div>
</div>
<div class="full-hero cv-section">
  <h2>PROFESSIONAL EXPERIENCE</h2>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Sóijen</h2>
      <h3>Co-founder</h3>
      <h4>2017 - present</h4>
    </div>
    <div class="large-col right-col">
      <p>Sóijen is a website that connects outdoor adventurers to off-the-beaten-path spots in Patagonia. We create content such as informational articles, photos and videos to highlight unique destinations in Chilean Patagonia, while partnering with local agencies to increase their visibility and online presence.</p>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>GrowNYC</h2>
      <h3>Market Manager</h3>
      <h4>2016 - 2017</h4>
    </div>
    <div class="large-col right-col">
      <p>GrowNYC is a non profit organization that aims to improve the lives and communities of New Yorkers through environmental programs and initiatives. I worked with the Greenmarket program as a Market Manager for the Poe Park and 175th Street Farmers Markets.</p>
      <ul class="bullets">
        <li>Managed daily operations for Farmers Market in the Bronx and Manhattan.</li>
        <li>Connected New York City communities with their local farmers through outreach programs, educational activities and tabling events, to increase awareness of local, healthy and fresh food.</li>
        <li>Communicated with customers in English and Spanish and translated marketing material and infographics to Spanish.</li>
      </ul>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Chilean Navy</h2>
      <h3>Coast Guard Officer </h3>
      <h4>2004 - 2015</h4>
    </div>
    <div class="large-col right-col">
      <p>The Coast Guard of Chile is responsible for protecting the marine environment, natural resources of Chile, and lives at sea. My role as an Officer of the Coast Guard ranged from training and management of new officers to navigating a patrol boat through the Patagonia fjords to protect our natural resources.</p>
      <ul class="bullets">
        <li>Training and Development Manager for Chilean Navy Officers: Where I conducted and supervised training and development programs for 120 Midshipmen. Together with other Managers. That year include leading training programs aboard the Sail Training Ship “Esmeralda” in the Tall Ship Race “Velas Latinoamerica 2014”. Including classes, simulations, conferences and workshops.</li>
        <li>Commander of a Coast Guard Patrol Boat: Overseeing the complete operation of a rescue patrol boat in the Patagonian fjords of southern Chile. While I lead a crew of 8 in various maritime activities, such as search and rescue, lighthouse maintenance and supporting local communities.</li>
    </div>
  </div>
</div>
<div class="full-hero cv-section hero-skills">
  <h2>SKILLS</h2>
  <div class="two-col">
    <div class="auto-col">
      <h3>Languages</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>Spanish</p>
          <p>English</p>
          <p>Japanese</p>
          <p>French</p>
        </div>
        <div class="star-col">
          <p>{% include star5.html %}</p>
          <p>{% include star4.html %}</p>
          <p>{% include star1.html %}</p>
          <p>{% include star1.html %}</p>
        </div>
      </div>
    </div>
    <div class="auto-col">
      <h3>Tools</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>Adobe Illustrator</p>
          <p>Adobe Photoshop</p>
        </div>
        <div class="star-col">
          <p>{% include star4.html %}</p>
          <p>{% include star3.html %}</p>
        </div>
      </div>
    </div>
    <div class="auto-col">
      <h3>Knowledge</h3>
      <div class="two-col skill-ratings">
        <div class="skill-col">
          <p>SEO</p>
          <p>Social Media Mgmt</p>
        </div>
        <div class="star-col">
          <p>{% include star4.html %}</p>
          <p>{% include star4.html %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full-hero cv-section">
  <h2>EDUCATION</h2>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Naval Polytechnic Academy</h2>
      <h3>Bachelor's Degree, Marine Engineering Management</h3>
      <h4>2006 - 2012</h4>
    </div>
    <div class="large-col right-col">
      <p>Coast Guard, <em>First in Class</em></p>
    </div>
  </div>
  <div class="two-col">
    <div class="small-col left-col">
      <h2>Arturo Prat Naval Academy</h2>
      <h3>Associate’s Degree, Naval Science</h3>
      <h4>2004 - 2006</h4>
    </div>
    <div class="large-col right-col">
      <p>Naval Academy for Cadets, Coast Guard, <em>First in Class</em></p>
    </div>
  </div>
</div>
